version: '3.8'

services:
  drake:
    build:
      context: .
      dockerfile: Dockerfile
    image: drake:my-project
    container_name: drake
    volumes:
      - ~/.ssh/id_rsa:/.ssh/id_rsa:ro
      - .:/home/drake
      - /home/drake/.venv
    working_dir: /home/drake
    network_mode: host
    stdin_open: true
    tty: true
    command: bash
