services:
  drake:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    user: "${UID}:${GID}"
    environment:
      - UID=${UID}
      - GID=${GID}
    image: drake:my-project
    # Uncomment below to enable nvidia gpu runtime.
    #runtime: nvidia
    container_name: drake
    volumes:
      #- /home/internal/.ssh:/root/.ssh:ro 
      # If you want to use git from inside the docker, rewrite above to your SSH key Location
      - ..:/home/drake
      - venv-volume:/home/drake/.venv
    working_dir: /home/drake
    network_mode: host
    stdin_open: true
    tty: true
    command: bash
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

volumes:
  venv-volume:
